@import 'font-awesome/css/font-awesome.css';
@import 'devicon/devicon.min.css';

@import 'tailwindcss/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
  background-color: #18181b; /* zinc-900 from Tailwind */
  color: oklch(.985 0 0);
  transition-duration: 700ms;
}

.light{
  background-color: oklch(.985 0 0);
  color:#18181b(27.685% 0.00003 271.152);
  transition-duration: 700ms;

}